{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ category.name }}{% endblock %}
<main>
  {% block content %}
    <!-- класс py-5 создает отступы сверху и снизу блока -->
    <div class="container py-2">
      <h1 style="color: red;">{{ category.name }}</h1>
      <article>
        {% for event in page_obj %}
          <ul>
            <li>
              Мероприятие: {{ event.name }}
            </li>
            {% comment %} <li>
              Дата публикации: {{ event.pub_date|date:"d E Y" }}
            </li> {% endcomment %}
          </ul>
          <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
              {% thumbnail event.image  "960x539" crop="center" upscale=True as im %}
                <img src="{{ im.url }}" class="img-fluid mx-auto d-block">
              {% endthumbnail %} <br>
            </div>
            <div class="col-12 col-md-6 col-xl-9">
              <p>{{ event.description|truncatewords:40 }}</p>
            </div>
          </div>
          <a href="{{ event.get_absolute_url }}">подробнее</a> <br>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% include 'events/includes/paginator.html' %}
      </article>
    </div>
  {% endblock %}
</main>
